.input-container {
  width: 100%;
  /* height: 101px; */
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
label {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: rgba(7, 160, 152, 0.9);
  margin: 0;
}
.input-box {
  width: 100%;
  /* height: 64px; */
  border: 1px solid #0eb4f6;
  box-sizing: border-box;
  border-radius: 6px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  background: none !important;
  display: block;
  display: flex;
  align-items: center;
  max-height: 75px;
  color: rgba(0, 30, 47, 0.4);
  padding: 15px 34px;
}
.input-box:focus {
  color: #011b25;
}
@media (min-width: 1500px) {
  .input-box {
    /* height: 55px */
  }
}
@media (max-width: 1060px) {
  .input-box {
    width: 100%;
  }
  .input-container {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .input-box {
    width: 100%;
    padding: 16.5 15px;
  }
  .input-container {
    width: 100%;
  }
}
@media (max-width: 504px) {
  label {
    font-size: 14px;
    line-height: 21px;
  }
  .input-box {
    font-size: 14px;
    padding: 16px 15px;
  }
}
