.maintext{
  font-style: normal;
font-weight: 500;
font-size: 56px;
line-height: 84px;

align-items: center;


color: #011B25;
}
.landingImg {
  width: 139.7px;
  height: 71.17px;
  
}
.chooseUser{
    width: 133px;
height: 44px;
}
.chooseUser:hover{
    color: white;
    
}
@media (max-width: "815px") {
  .landingImg {
    width: 87.1px;
    height: 40.84px;
  }
}
