.overviewCont{
    /* margin: 40px 70px 22px 40px; */
    background-color: lime;
    height:100%;
    /* height: 100%; */
}
.courses-overview{
    color: #FFFFFF;
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px 38px;
height: 109px;
background: #07A098;
border-radius: 10px;
}
.course-item{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
width: 76.72px;
height: 74px;
}
.course-item h4{
    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;

display: flex;
align-items: center;
width: 78.94px;
height: 27px;
}
.course-item h2{
    width: 37px;
height: 45px;
left: 0px;
top: 29px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 45px;
display: flex;
align-items: center;
color: #FFFFFF;
}