/* //////SIDEBAR */
.side-Cont {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  justify-content: space-between;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.08);
}

.userDetailsCont {
  display: flex;
  align-items: center;
  padding: 48px 0 25px 0;
 
}
.user-img {
  width: 45px;
  height: 45px;
  border-radius: 500px;
  /* border: blue 3px solid; */

  /* margin: 0px 15px; */
  /* margin-right: 15px; */
}
.details {
  flex-direction: column;
  /* border: lime 3px solid; */
  margin-top: 45px;
}
.details h3 {
  width: 181.92px;
  height: 27px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 137.15%;
  display: flex;
  align-items: center;
}
.details span {
  position: static;
  width: 181.92px;
  height: 22px;
  left: 0px;
  top: 27px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 137.15%;

  display: flex;
  align-items: center;

  color: #07a098;
}
.downBtnCont {
  /* border: blue 3px solid; */
  margin: 45px 0 30px;
  width: 100%;
  display: flex;
}
.upgradeBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 40px;
  border: 2px solid #0eb4f6;
  box-sizing: border-box;
  border-radius: 50px;
}
.upgradeBtn h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #07a098;
}

/* ///////NAV BAR//// */
.allNavItems {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* border: red 3px solid; */
}
.navItem {
  /* padding: 26px 0; */
  display: flex;
  height: auto;
  align-items: center;
  width: 100%;
  flex: 1;
  /* border: lime 3px solid; */
}
.navItem:hover {
  background-color: #07a098;
}
.navItem:hover .nav-icon,
.navItem:hover .nav-text {
  color: #fff;
}

.nav-icon {
  /* margin: 0 15px 0 0; */
  width: 24px;
  height: 24px;
  font-size: 24px;
}
.nav-text {
  /* width: 92px; */
  width: auto;
  height: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  align-items: center;
}
/* RESPONSIVE SIDEBAR */
.responNav {
  position: fixed;
  top: 0;
  bottom: 0;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  z-index: 50;
  background-color:#ffffff;
  width: 32%;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.08);

}

@media (max-width: 1064px) {
  .nav-text {
    font-size: 18px;
    line-height: 20px;
  }
  .details h3 {
    font-size: 16px;
  }
  .details span {
    font-size: 12px;
  }
}
@media (max-width: 1024px) {
  .nav-text {
    font-size: 16px;
    line-height: 20px;
  }
  .details h3 {
    font-size: 16px;
  }
  .details span {
    font-size: 12px;
  }
  .user-img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 1000px) {
  .side-Cont {
    display: none;
    
  }
  .responNav{display: flex;}
}
@media (max-width: 815px) {
  .responNav {
  width: 40%;

}}
@media (max-width: 620px) {
  .responNav {
  width: 50%;

}
}
@media (max-width: 425px) {
  .responNav {
  width: 100%;

}
}
