.signUp-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 85%;
  padding-top: 30px;
}

.sign-form,
.sign-form3 {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px 0;

}

.frame {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}
.frame-3 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-holder {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.other-part {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:40%;

}

.checkbox {
  border-radius: 100%;
  width: 17.94px;
  height: 17.94px;
  left: 0px;
  top: 1.53px;
  border: 1.5px solid #686868;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
}
.checkbox:checked {
  content: "";

  background: #07a098;
  width: 17px;
  height: 17px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
    4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}
@media (max-width: 2500px) {
  .frame, .frame-3 {
    height: auto;
  }
}
@media (max-width: 1060px) {
  .sign-form,
  .sign-form3 {
    align-items: center;
  }
  .signUp-content {
    padding-top: 30px;
    width: 90%;
  }
  .frame {
    width: 100%;
    padding: 0;
  }
}

@media (max-width: 575px) {
  .sign-form,
  .sign-form3 {
    width: 100%;
    align-items: normal;
    height: auto;
  }
  .signUp-content {
    padding: 0;
    width: 100%;
  }

  .frame {
    height: auto;
    width: 100%;
  }
}
