.overlay {
  height: 100vh;
  padding: 0 50px;

}
.overlay::after {
  background-color: white;
  opacity: 0.8;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}
.main-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 600;
  width: 100%;
  height: 100vh;
  overflow: scroll;
}
.sub-container {
  width: 1050px;
  height: 700px;
  box-shadow: 1px 2px 10px rgba(169, 169, 169, 0.3);
  padding: 2px;
  border-radius: 20px;
  position: relative;
  display: flex;
}
.left-container {
  width: 40%;
  height: 100%;
  padding: 34px 53px 128px 49px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 700;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.right-container {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 0 auto;
}
.title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}
.largeText {
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 75px;
  display: flex;
  align-items: center;
  padding-right: 35px;
}
.extraText {
  height: 60px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
}


@media (max-width: 1899px) {
  .sub-container {
    height: 700px;
    width: 1020px;
  }
  .largeText {
    padding-right: 5px;
  }
}
@media (max-width: 1600px) {
  .sub-container {
    width: 1000px;
    height: 700px;
  }
  .largeText {
    padding-right: 35px;
  }
}
@media (max-width: 1440px) {
  .sub-container {
    width: 990px;
    height: 650px;
  }
}
@media (max-width: 1284px) {
  .sub-container {
    height: 630px;
    width: 800px;
  }
  .left-container {
    width: 40%;
    padding: 34px 40px 128px 30px;
  }
  .right-container {
    width: 60%;
  }
  .largeText {
    padding-right: 20px;
  }
  .title {
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  .sub-container {
    height: 615px;
    width: 85vw;
  }

  .left-container {
    width: 40%;
    padding: 34px 30px 128px 35px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .right-container {
    width: 60%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0 20px;
  }
  .title {
    font-size: 20px;
  }
  .largeText {
    padding-right: 0;
    font-size: 43px;
  }
  .extraText {
    width: 100%;
    font-size: 14px;
  }
}

@media (max-width: 815px) {
  .overlay::after {
    opacity: 1;
  }

  .sub-container {
    flex-direction: column;
    height: auto;
    border-radius: 0;
    display: flex;
    align-items: center;
    /* overflow-y: scroll; */
    scrollbar-width: none;
    -ms-overflow-style: none;
    box-shadow: none;
  }
  .sub-container::-webkit-scrollbar {
    display: none;
  }
  .left-container {
    height: 280px;
    border-radius: 20px;
    margin: 0 40px;
    width: 100%;
    align-items: center;
    padding: 30px 11px 30px 35px;
  }
  .right-container {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .title {
    display: none;
  }
  .largeText {
    font-size: 40px;
    line-height: 55px;
    padding-right: 115px;
    margin-left: 0;
    width: 100%;
  }
  .extraText {
    width: 100%;
    font-size: 14px;
  }
}
@media (max-width: 575px) {
  .largeText {
    font-size: 36px;
    line-height: 50px;
  }
  .extraText {
    font-size: 12px;
  }
  .right-container {
    padding: 0;
  }
   .left-container {
    height: 250px;
    border-radius: 20px;
    margin: 0 40px;
    width: 100%;
    align-items: center;
    padding: 30px 11px 30px 35px;
  }
}
@media (max-width: 515px) {
 
  .sub-container {
    width: 90vw;
    border-radius: 0;
    margin: 0;
  }
  .left-container {
    margin: 0;
    border-radius: 8px;
    width: 100%;
    height: 200px;
    padding: 25px 40px 20px 30px;
  }
  .largeText {
    font-size: 30px;
    height: 90px;
    line-height: 45px;
    padding-right: 0;
    padding-right: 40px;
  }
  .extraText {
    font-size: 12px;
    margin-top: 15px;
    width: 100%;
    line-height: 18px;
  }
}
@media (max-width: 350px) {
  .largeText {
    font-size: 25px;
    height: 90px;
    line-height: 38px;
    padding-right: 0;
    padding-right: 30px;
  }
  .extraText {
    font-size: 12px;
    margin-top: 3px;
    width: 100%;
    line-height: 18px;
  }
  .left-container {
    margin: 0;
    border-radius: 8px;
    width: 100%;
    height: auto;
    padding: 10px 40px 0px 30px;
  }
}


