* {
  padding: 0;
  margin: 0;
}
.activeLink {
  color: black;
}
.content {
  width: 1080px;
  padding: 10px;
  
}

.icon{
height: 100%;
bottom:0;
font-size: 25px;
margin-right: 5px;
}

.mockup {
  
  height: 589.11px;
  position: absolute;
  right: -120px;

}
.circle{
  height: 660px;
}
.largeText{
  line-height: 96px;
}
@media (max-width: 1024px) { 

.mockup{
  right: -50px;
}
.content{
      width:100%;
    
    }
.icon{
  font-size:23px;
}

  }


	@media (max-width: 640px) {

.mockup{
  right: -110px;
}

    .icon{
  font-size:20px;
}
.largeText{
  line-height: 50px;
}
}

